.fly-content {
    color: white;
    height: 100%;
}

/* Gap under the image for some reason */
img {
    max-width: 400px;
    display: block;
    /* border-radius: 10px; */
}

.top-level {
    display: flex;
}

.info {
    width: 100%;
    overflow: hidden;
    padding: 0px 25px 0px 25px;
    position: relative;
}

.tagBox {
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tagBox > .tag {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.description {
    text-align: left;
    transition: background-color 0.3s ease-in;
}

.iconBox {
    position: absolute;
    right: 0px;
}

.iconBox > * {
    display: inline;
    margin: 0 4px 0 4px;
    font-size: 1.25em;
}

.iconBox i:hover {
    color:antiquewhite;
}

.left-box > * {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 900px) {
    .top-level {
        flex-direction: column;
    }
}

.fly-grid {
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

