header {
    background-color: slategray;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

header > div {
    flex: 1 0 10vw;
}

nav {
    background-color: green;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

a {
    text-decoration: none;
    color:aliceblue
}

.logo {
    cursor: pointer;
}

.nav_buttons {
    list-style: none
}

.nav_buttons li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_buttons li a {
    transition: all 0.3s ease 0s;
}

.nav_buttons li a:hover {
    color: aquamarine;
}

.right-button-box {
    background-color: red;
    position: relative;
}

header > * {
    /* flex-basis: 33%; */
}

header > :is(div, img) {

}

img {
    text-align: left;
}

.right-button-box > button {
    position: absolute;
    right: 0;
}