

.fly-flex {
  display:flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

#root {
  /* height: 100vh; */
  min-height: 100vh;
  --header-height: 56px;
  --alert-btn-color: #f08080;
  --btn-color: #21897E; /*428d5b  57A773*/
  --bg-color-dark: #16262E;
  --bg-color-dark-secondary: #2e4756;  /*#274e61 2e4756*/
  --base-color: #4E7C97 ;
  --box-shadow-standard: 0 4px 12px 5px rgba(0, 0, 0, 0.3);
  --primary-font-color: white;
  --secondary-font-color: lightgrey;
  --dark-font-color: #6D8EA0;
  background-color: var(--bg-color-dark);
}

body {
  /* #A7C6DA */
  margin: 0;
  min-height: 100%;
  position: relative;
}

.sizing-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center-box {
    /* margin-left: min(5vw, 80px);
    margin-right: min(5vw, 80px); */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    height: calc(100vh - 96px);
}

.content-bounding-box {
  margin-left: min(5vw, 80px);
  margin-right: min(5vw, 80px);
  height: 100%;
}

.rounded-box {
  border-radius: .75rem;
  background-color: var(--bg-color-dark-secondary);
  padding: 1em;
  /* height: calc(100% - 56px); */

}

.full-box {
  height: 100%;
  overflow-y: scroll;
}
/* 2E4756 */

.text-large {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-med {
  font-size: 1rem;
  line-height: 1.25rem;
}

.btn {
  padding: .75rem;
  background-color: var(--btn-color);
    border-radius: .5rem;
    border: 1px solid var(--btn-color);
    color: white;
    transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0);
  cursor:pointer;
}

.btn > h3 {
  margin: 0;
}

.styled-scrollbar {
  scrollbar-color: white rgba(0,0,0,0);
  scrollbar-width: thin;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background:white;
  border: 6px solid transparent;
}

.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: rgba(0,0,0,0);
}

.no-interaction{
  pointer-events: none;
}

.scrollable {
  overflow-y: scroll;
}

.button-icon {
  cursor:pointer;
}

.button-icon:hover {
  transition: all .2s ease-in-out;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-bg {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('./images/splash-wave.svg');
}

.input-box {
  padding: .5em;
}

.input-box::placeholder {

}

.grow-icon {
  transition: transform .3s;
  will-change: transform;
}

.grow-icon:hover {
  transform: scale(1.35);
}