.FlyFlex {
  display:flex;
  justify-content: space-between;
  height: 80%;
}

body {
  background: #A7C6DA;
  margin: 0;
}

.centerBox {
    margin-left: max(10vw, 100px);
    margin-right: max(10vw, 100px);
    margin-top: 20px;
    margin-bottom: 20px;
}

.rounded-box {
  border-radius: 12px;
  background-color: #2E4756;
  padding: 1em 1em 1em 1em;
}

.btn {
  padding: .5rem;
  background-color: #57A773;
    border-radius: .75rem;
    border: 1px solid #57A773;
    color: white;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0);
  cursor:pointer;
}